<app-container>
  <section class="w-fit flex items-center justify-between">
    <h2> {{id? 'Editando vendedor/a' + sellerForm.value.nombre:'Nuevo vendedor'}}</h2>
    <a class="icon-btn btn-secondary" (click)="exit()">
      <img src="icons/circle-chevron-left.svg" class="svg-text" />
    </a>
  </section>
  <hr>
  <form [formGroup]="sellerForm" (ngSubmit)="submit()">
    <fieldset>
      <legend>Datos personales</legend>
      <div class="flex items-center justify-center h-32">
        <app-img-picker [control]="photoControl" [imgSrc]="alreadyChargedPhotoSrc"
          [defaultImg]="'icons/circle-user-round.svg'" (change)="photoFile = $event"></app-img-picker>
      </div>
      <div class="form-group">
        <label class="form-label">Nombre</label>
        <input class="form-control" type="text" formControlName="nombre" />
        <app-form-error-message [control]="sellerForm.get('nombre')!"></app-form-error-message>
      </div>
      <div class="form-group">
        <label class="form-label">Fecha de nacimiento</label>
        <input class="form-control" type="date" lang="es-ES" formControlName="fechaNacimiento" />
        <app-form-error-message [control]="sellerForm.get('fechaNacimiento')!"></app-form-error-message>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información de usuario</legend>
      <div class="form-group">
        <label class="form-label">Usuario login</label>
        <input class="form-control" type="text" formControlName="usuarioLogin" />
        <app-form-error-message [control]="sellerForm.get('usuarioLogin')!"></app-form-error-message>
      </div>
      <div class="form-check">
        <input class="form-check-input" id="habilitado" type="checkbox" formControlName="habilitado" />
        <label class="form-check-label" for="habilitado">¿Habilitado?</label>
        <app-form-error-message [control]="sellerForm.get('habilitado')!"></app-form-error-message>
      </div>
    </fieldset>
    <fieldset>
      <legend>Dirección</legend>
      <div class="form-group">
        <label class="form-label">Localidad</label>
        <select class="form-control" formControlName="localidadId">
          @for (localidad of $localidades | async; track localidad) {
          <option [value]="localidad.id">
            {{ localidad.localidad }} - {{ localidad.codigoPostal }}
          </option>
          }
        </select>
        <app-form-error-message [control]="sellerForm.get('localidadId')!"></app-form-error-message>
      </div>
    </fieldset>
    <fieldset>
      <legend>Opcionales</legend>
      <div class="form-group">
        <label class="form-label">Observaciones</label>
        <textarea class="form-control" formControlName="observaciones"></textarea>
        <app-form-error-message [control]="sellerForm.get('observaciones')!"></app-form-error-message>
      </div>
    </fieldset>

    <div class="w-full flex items-center justify-center mt-4">
      <button class="btn with-icon btn-danger mr-2" type="button" (click)="exit()">
        <img class="svg-text mr-2" src="icons/circle-x.svg" />
        Cancelar
      </button>
      @if(id){
      <button class="btn with-icon btn-warning">
        <img class="svg-text mr-2" src="icons/pencil.svg" />
        Editar</button>
      }
      @else{
      <button class="btn with-icon btn-primary">
        <img class="svg-text mr-2" src="icons/save.svg" />
        Guardar</button>
      }
    </div>
  </form>

</app-container>
