@import "./theme.scss";

.btn-base {
  user-select: none;
  border: 1px solid transparent;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn {
  padding: 0.375rem 0.75rem;
  @extend .btn-base;
}
.with-icon {
  @extend .flex;
  @extend .h-full;
  @extend .items-center;
}
.icon-btn {
  @extend .rounded-full;
  @extend .btn-base;
  @extend .scale-75;
  @extend .py-3;
}
.btn-primary {
  @extend .bg-primary;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}

.btn-secondary {
  @extend .bg-secondary;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.btn-success {
  @extend .bg-success;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.btn-warning {
  @extend .bg-warning;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.btn-light {
  @extend .bg-light;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.btn-info {
  @extend .bg-info;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.btn-danger {
  @extend .bg-danger;
  @extend .text-white;
  @extend .rounded-md;
  @extend .py-2;
  @extend .px-4;
}
.un-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}
